services:
  langgraph-api:
    image: rag-agent:latest  # Usa la imagen creada con 'langgraph build'
    pull_policy: never
    ports:
      - "8000:8000"
    env_file:
      - ".env"
    environment:
      - DATABASE_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}?sslmode=disable
    depends_on:
      langgraph-postgres:
        condition: service_healthy
      langgraph-redis:
        condition: service_healthy
    volumes:
      - ./data/vectorstore:/app/data/vectorstore
  # --- BASE DE DATOS POSTGRES ---
  langgraph-postgres:
    image: postgres:15-alpine
    restart: always
    env_file:
      - ".env"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      start_period: 10s
      timeout: 1s
      retries: 5
      interval: 5s

  # --- REDIS (Requerido por LangGraph Agent Server) ---
  langgraph-redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: redis-cli ping
      interval: 5s
      timeout: 1s
      retries: 5

volumes:
  postgres_data: