services:
  agent:
    build: .
    ports:
      - "8000:8000"
      - "2024:2024" # Puerto por defecto de langgraph dev
    env_file:
      - ".env"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/.venv #Evita que el venv de Windows se mezcle con el de Linux
      - ./data/vectorstore:/app/data/vectorstore # Persistencia de Chroma
      
    command: uv run langgraph dev --host 0.0.0.0 --port 2024
  # --- BASE DE DATOS POSTGRES ---
  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - ".env"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: